{{ template "layout" . }}

{{ define "main" }}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Politician ID</th>
      <th scope="col">Name</th>
      <th scope="col">Party</th>
      <th scope="col">Location</th>
      <th scope="col">Grade Current</th>
      <th scope="col">Total Votes</th>
    </tr>
  </thead>
  <tbody>
    {{ range . }}
    <tr>
      <th scope="row">{{ .PoliticianID }}</th>
      <td>{{ .Name }}</td>
      <td>{{ .Party }}</td>
      <td>{{ .Location }}</td>
      <td>{{ .GradeCurrent }}</td>
      <td>{{ .TotalVotes }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ end }}