{{ template "layout" .}}

{{ define "utama" }}
<div>
    <table class="table table-striped table-dark">
        <thead class="table-primary">
        <tr>
            <th scope="col">ID Voter</th>
            <th scope="col">ID Politicians</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Age</th>
        </tr>
        </thead>
        <tbody>
        {{ range . }}
        <tr>
            <th scope="row">{{ .VoterId }}</th>
            <td>{{ .PolicitianId }}</td>
            <td>{{ .FirstName }}</td>
            <td>{{ .LastName }}</td>
            <td>{{ .Gender }}</td>
            <td>{{ .Age }}</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</div>

{{ end }}