{{ template "layout" . }}

{{ define "main" }}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Voter ID</th>
      <th scope="col">Politician ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
    {{ range . }}
    <tr>
      <th scope="row">{{ .VoterID }}</th>
      <td>{{ .PoliticianID }}</td>
      <td>{{ .FirstName }}</td>
      <td>{{ .LastName }}</td>
      <td>{{ .Gender }}</td>
      <td>{{ .Age }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ end }}